{% extends 'base.html' %}

{% block title %}User Registration Success{% endblock title %}

{% block head %}What is this {% endblock head %}
{% block topnav %}

{% url 'home' as home %}
<a class="nav-item{% if request.path == home %} current-page{% endif %}" href="{% url 'home' %}">Homepage</a>

{% endblock topnav %}
{% block content %}
<h1>User Registration Success</h1>
<p>You have successfully registered.</p>

<p>Cick <a href="{% url 'login' %}?next=/">here</a> to log in.</p>

{% endblock content %}