<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        My title
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    {% block sidenav %}
      <header class="header">
        <nav class="navbar">
          {% url 'create_letter' as create_letter %}
          {% url 'letter' as letter %}
          <a class="nav-item{% if request.path == letter %} current-page{% endif %}" href="{% url 'letter' %}">Your Letters</a>
          <a class="nav-item{% if request.path == create_letter %} current-page{% endif %}" href="{% url 'create_letter' %}">Create Letters</a>

        </nav>
      </header>
    {% endblock sidenav %}
    <section id="main">
      {% block content %}
        <h1>this is base.html</h1>
      {% endblock content %}
    </section>
  </body>
</html>