{% extends 'base.html' %}
{% load static %}

{% block title %}Your Users{% endblock title %}

{% block content %}
    <h1>Welcome to Your Users</h1>

    <div class="container">
        <table class="letter-table">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in object_list %}
                <tr>
                    <td>placeholder for id</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %} 