{% extends 'base.html' %}

{% block title %}
Letter
{% endblock title %}



{% block content %}

    <!-- <h1>Letter html rendering success</h1>
    <hr/>
    <ul>
        {% for letter in object_list %}
        <li>Recipient - {{ letter.send_to }}</li>
        <li>Title - {{ letter.title }}</li>
        <li>Content - {{ letter.content }}</li>
        <li>Ending - {{ letter.ending }}</li>
        <li>Date of Submission - {{ letter.submitted }}</li>


        {% endfor %}
     
    </ul> -->
    {% for letter in object_list %}
        {% url 'update_letter' as update_letter %}

        <a class="nav-item{% if request.path == update_letter %} current-page{% endif %}" href="{% url 'update_letter' letter.id %}">Update Letter</a>
    {% endfor %}
    <table class="letter-table">
        <thead>
            <tr>
                <th>Recipient</th>
                <th>Title</th>
                <th>Submission Date</th>
            </tr>
        </thead>
        <tbody>
        {% for letter in object_list %}
            <tr>
                <td>{{ letter.send_to }}</td>
                <td>{{ letter.title }}</td>
                <td>{{ letter.submitted }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}